.container {
  padding-block: 30px 0;
  padding-inline: 60px;

  .p-carousel-prev,
  .p-carousel-next {
    display: none;
  }

  img {
    inline-size: 100%;
    block-size: 700px;
    object-fit: cover;
    border-radius: 10px;
  }

  .p-carousel-indicators {
    align-items: center;
    gap: 12px;
    padding-block-start: 20px;
  }

  .p-carousel-indicator {
    margin-inline-end: 0;

    button {
      inline-size: 10px;
      block-size: 10px;
      border-radius: 100%;
      background: var(--secondary-text-color);
    }
  }

  .p-carousel-indicator.p-highlight {
    button {
      inline-size: 12px;
      block-size: 12px;
      background: #EF6B4A;
    }
  }
}
