<div class="container">
  <div class="book-container">
    @if (results.query === "") {
      <app-carousel></app-carousel>
      @for (book of books; track books) {
        <app-book-card [book]="book"></app-book-card>
      }
    } @else {
      <app-search></app-search>
    }
  </div>

  <p-paginator
    class="paginator"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showFirstLastIcon]="true"
  />
</div>
