<div class="booksContainer">
  @if (results.query === '') {
    <app-carousel></app-carousel>
    @for (book of genreBooks; track book) {
      <app-book-card [book]="book"></app-book-card>
    }
  } @else {
    <app-search></app-search>
  }



  <div class="flex align-items-center justify-content-center">
    <div class="flex-1">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
                   [rowsPerPageOptions]="[10, 20, 30]" [showFirstLastIcon]="false"/>
    </div>
  </div>
</div>
