.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  .book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 60px;
    gap: 60px;
    justify-content: center;
  }

  .paginator {
    width: fit-content;
    padding: 10px;
    border-radius: 40px;
    border-top: 1px solid var(--border-paginator);
    background-color: var(--background-paginator);
    box-shadow: var(--shadow-paginator);

    > div {
      background-color: var(--background-paginator);
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      background-color: rgba(98, 81, 221, 0.2);
      color: var(--primary-text-color);
    }

    .p-element.p-inputwrapper.p-inputwrapper-filled {
      > div {
        background-color: var(--navbar-color);
        border-color: var(--border-paginator);
        display: flex;
        align-items: center;
        justify-content: center;

        > span {
          color: var(--primary-text-color);
          font-size: 1.3rem;
        }
      }

      .p-dropdown-panel.p-component {
        background-color: var(--background-paginator);
        font-size: 1.3rem;

        .p-ripple.p-element.p-dropdown-item {
          color: var(--primary-text-color);
        }

        .p-ripple.p-element.p-dropdown-item {
          &.p-highlight {
            background-color: rgba(98, 81, 221, 0.2);
          }

          &:hover {
            background-color: var(--hover-paginator);
          }
        }
      }
    }
  }
}
