<p-toast></p-toast>

<p-dialog
  class="book-dialog"
  header="Add New Book"
  [modal]="true"
  [(visible)]="visible"
  (onHide)="toggleVisibility()"
  [style]="{
    inlineSize: 'fit-content',
    maxInlineSize: '80%',
    minInlineSize: '25%',
    minBlockSize: '55vh',
  }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  styleClass="custom-dialog"
>
  <div class="book-dialog__content">
    <h3 class="book-dialog__title">Please enter the information for your new book below.</h3>
    <form class="book-form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <ng-container *ngFor="let field of ['name', 'image', 'publishData', 'genre', 'author', 'price']">
        <div class="book-form__group">
          <div class="book-form__label-section">
            <label class="book-form__label" [for]="field">{{ field.charAt(0).toUpperCase() + field.slice(1) }}</label>
            <p class="book-form__error"
               *ngIf="bookForm.get(field)?.invalid && (bookForm.get(field)?.touched || submitted)">
              Required
              <i class="book-form__error-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="rgba(255, 56, 56, 0.6)">
                  <path
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                </svg>
              </i>
            </p>
          </div>

          <input *ngIf="field !== 'publishData' && field !== 'price'"
                 [id]="field"
                 [formControlName]="field"
                 class="book-form__input"
                 type="text"
                 [ngClass]="{'book-form__input--invalid': bookForm.get(field)?.invalid && (bookForm.get(field)?.touched || submitted)}"
          />

          <p-calendar *ngIf="field === 'publishData'"
                      [style]="{  inlineSize: '100%' }"
                      [id]="field"
                      [formControlName]="field"
                      class="book-form__input book-form__input--date"
                      [ngClass]="{'book-form__input--invalid': bookForm.get(field)?.invalid && (bookForm.get(field)?.touched || submitted)}"
          ></p-calendar>

          <p-inputNumber *ngIf="field === 'price'"
                         [style]="{  inlineSize: '100%' }"
                         [id]="field"
                         [formControlName]="field"
                         class="book-form__input book-form__input--price"
                         [ngClass]="{'book-form__input--invalid': bookForm.get(field)?.invalid && (bookForm.get(field)?.touched || submitted)}"
          ></p-inputNumber>
        </div>
      </ng-container>

      <p-button
        type="submit"
        class="book-form__submit"
        [style]="{
          outline: 'none',
          paddingBlock: '0',
          border: 'none',
          'box-shadow': 'none',
          backgroundColor: 'transparent',
        }"
        (click)="onSubmit()"
      >
        <div class="book-form__submit-text">Submit</div>
      </p-button>
    </form>
  </div>
</p-dialog>
