@mixin inputStyle {
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--primary-text-color);
  border-radius: 5px;
}

.book-dialog {
  .p-dialog-header {
    padding: 15px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 1px solid #f0f0f0;

    > span {
      font-size: 20px;
      color: var(--secondary-text-color);
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
  .p-dialog-content {
    padding: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .book-dialog__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 2rem;
  }

  .book-dialog__title {
    margin: 0;
    font-size: 1.8rem;
    color: var(--primary-text-color);
  }

  .book-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
    }

    &__label-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &__label {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--secondary-text-color);
    }

    &__error {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--input-invalid);
      gap: 5px;
    }

    &__error-icon {
      width: 18px;
      height: 18px;
    }

    input {
      @include inputStyle;
      padding: 10px;
    }

    &__input {
      @include inputStyle;
    }

    &__input--invalid, input.book-form__input--invalid {
      border-color: var(--input-invalid);
    }

    .p-inputwrapper.book-form__input {
      border: none;
    }

    .p-inputwrapper.book-form__input--invalid input {
      border: 1px solid var(--input-invalid);
    }

    &__input--date,
    &__input--price {
      width: 100%;
    }

    &__submit {
      align-self: flex-end;
    }

    &__submit-text {
      padding: 5px 10px;
      background-color: #6251dd;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 5px;
    }
  }

  .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext,
  .p-inputtext:enabled:hover {
    box-shadow: none;
  }
}


.p-link,
.p-datepicker table {
  font-size: 1.5rem;
}

.p-toast {
  width: 40rem;

  .p-toast-message-icon {
    padding-top: 3px;
  }

  .p-toast-summary {
    font-size: 1.8rem;
  }

  .p-toast-detail {
    font-size: 1.5rem;
    color: rgba(9, 9, 55, 0.7);
  }
}

.p-dialog-content {
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);

  .form-control,
  .p-inputtext {
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
  }
}

.p-dialog-header,
.custom-dialog div.p-dialog-header > span {
  background-color: var(--navbar-color);
  color: var(--primary-text-color);
}

.p-dialog-title {
  color: var(--primary-text-color);
}

.p-datepicker,
.p-datepicker-header,
.p-datepicker-month,
.p-datepicker-year {
  font-size: 1.8rem;
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);

  .p-ripple:hover {
    color: #6251dd;
  }
}

.p-element.submitButton button div {
  color: #fff;
  //background-color: rgba(98, 81, 221, 0.4);
}

.custom-dialog .submitButton div {
  color: var(--primary-text-color);
}
