<div class="genre-container">
  @if (results.query === "") {
    <button (click)="goBack()" class="genre-container__back-button">
      <img
        src="{{
          isLight ? '/icons/light/arrow.svg' : '/icons/dark/arrow-dark.svg'
        }}"
        alt="arrow"
      />
      <p class="genre-container__genre-name">{{ books.genreName }}</p>
    </button>
    <div class="genre-container__books">
      @for (book of books.booksList; track book) {
        <app-book-card [book]="book"></app-book-card>
      }
    </div>
  } @else {
    <app-search></app-search>
  }
</div>
