@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  @include center();
  margin-block: 0;
  padding-block: 25px;
  padding-inline: 60px;
  background-color: var(--navbar-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky;
  inset-block-start: 0;
  z-index: 10;

  &__logo {
    cursor: pointer;
    block-size: 40px;
    inline-size: 60px;
  }

  &__search {
    @include center();
    background-color: var(--background-cards);
    inline-size: 50%;
    block-size: 50px;
    padding-block: 0;
    padding-inline: 20px;
    border-radius: 10px;

    > input[type="text"] {
      color: var(--primary-text-color);
      inline-size: 100%;
      block-size: 80%;
      border: none;
      outline: none;
      padding-block: 0;
      padding-inline: 10px;
      font-size: 2rem;
      background-color: var(--background-cards);
    }

    input::placeholder {
      color: var(--secondary-text-color);
    }
  }

  &__links {
    @include center();
    gap: 24px;
  }
}
