@mixin inputStyle {
  inline-size: 100%;
  font-size: 1.5rem;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--primary-text-color);
  border-radius: 0.5rem;
}

.book-dialog {
  .p-dialog-header {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom: 1px solid #f0f0f0;

    > span {
      font-size: 2rem;
      color: var(--secondary-text-color);
    }

    svg {
      inline-size: 1.8rem;
      block-size: 1.8rem;
    }
  }

  .p-dialog-content {
    padding-block: 0;
    padding-inline: 0;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
  }

  .book-dialog__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding-block: 2rem;
    padding-inline: 2rem;
  }

  .book-dialog__title {
    margin-block: 0;
    font-size: 1.8rem;
    color: var(--primary-text-color);
  }

  .book-form {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    &__group {
      inline-size: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;
    }

    &__label-section {
      inline-size: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &__label {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--secondary-text-color);
    }

    &__error {
      margin-block: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--input-invalid);
      gap: 0.5rem;
    }

    &__error-icon {
      inline-size: 1.8rem;
      block-size: 1.8rem;
    }

    input {
      @include inputStyle;
      padding-block: 1rem;
      padding-inline: 1rem;
    }

    &__input {
      @include inputStyle;
    }

    &__input--invalid, input.book-form__input--invalid {
      border-color: var(--input-invalid);
    }

    .p-inputwrapper.book-form__input {
      border: none;
    }

    .p-inputwrapper.book-form__input--invalid input {
      border: 1px solid var(--input-invalid);
    }

    &__input--date,
    &__input--price {
      inline-size: 100%;
    }

    &__submit {
      align-self: flex-end;
    }

    &__submit-text {
      padding-block: 0.5rem;
      padding-inline: 1rem;
      background-color: #6251dd;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 0.5rem;
    }
  }

  .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext,
  .p-inputtext:enabled:hover {
    box-shadow: none;
  }
}


.p-link,
.p-datepicker table {
  font-size: 1.5rem;
}

.p-toast {
  inline-size: 40rem;

  .p-toast-message-icon {
    padding-block-start: 0.3rem;
  }

  .p-toast-summary {
    font-size: 1.8rem;
  }

  .p-toast-detail {
    font-size: 1.5rem;
    color: rgba(9, 9, 55, 0.7);
  }
}

.p-dialog-content {
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);

  .form-control,
  .p-inputtext {
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
  }
}

.p-dialog-header,
.custom-dialog div.p-dialog-header > span {
  background-color: var(--navbar-color);
  color: var(--primary-text-color);
}

.p-dialog-title {
  color: var(--primary-text-color);
}

.p-datepicker,
.p-datepicker-header,
.p-datepicker-month,
.p-datepicker-year {
  font-size: 1.8rem;
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);

  .p-ripple:hover {
    color: #6251dd;
  }
}

.p-element.submitButton button div {
  color: #fff;
  //background-color: rgba(98, 81, 221, 0.4);
}

.custom-dialog .submitButton div {
  color: var(--primary-text-color);
}
